/* --------------------------
        Media Queries 
-----------------------------*/


/*---------------------------
        Mobile devices
----------------------------*/
@media only screen and (max-width:688px){

    /*--------------------
        common styles 
    --------------------*/
    main{
        display: block;
    }
    body{
        width: 100%;
    }
    
    /*----------------------
        top banner styles 
    ----------------------*/
    .top-banner{
        padding: 80px 0 50px ;
    }
    .banner-area{
        flex-direction: column;
    }
    .left-area{
        margin: 0 60px 0 16px;
    }
    .left-area .left-area-title{
        font-size: 40px;
        line-height: 56px;
    }
    .left-area:hover ~ .right-area{
        transform: scale(1.2) translateX(10px);
    }
    .right-area{
        margin: 50px 16px 0;
    }
    .right-area .player-img{
        width: 330px;
    }

    /*--------------------------------
        players information styles  
    --------------------------------*/
    .players-info{
        width: 100%;    
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 24px;
        justify-items: center;
    }

    /*--------------------
        gallery styles
    --------------------*/
    .gallery{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 5px;
    }
    .gallery .horizonal-img{
        grid-column: auto / span 1;
    }

        
    /*--------------------
        sponsors styles
    --------------------*/
    .sponsors{
        flex-direction: column;
    }
    .sponsors img{
        margin-bottom: 20px;
        margin-right: 0;
    }

    /*--------------------
        footer styles 
    --------------------*/
    .footer-area img{
        width: 270px;
        padding-left: 0;
    }
}









