/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* common styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* top banner styles */
.top-banner{
    background-color: #2D25A0;
    color: #FFFFFF;
    padding: 100px 0 86px 0;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.half-area{
    width: 40%;
}
.half-area h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}
.watch-button{
    padding: 10px 24px;
    background-color: #E02C6D;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}
.watch-button .fa-arrow-right{
    margin-left: 8px;
}
.half-area img{
    width: 550px;
}