/*--------------------
    google fonts
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*--------------------
    common styles 
--------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
body{
    width: 1440px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
main{
    flex-direction: column;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 28px;
}
a{
    text-decoration: none;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container{
    display: grid;
}

/*----------------------
    top banner styles 
----------------------*/
.top-banner{
    width: 100%;
    background-color: #2D25A0;
    color: #FFFFFF;
    padding: 100px 0px 86px ;
}
.banner-area{
    flex-direction: row;
    align-items: stretch;
}
.left-area{
    margin: 70px 100px 0 0;
}
.left-area .left-area-title{
    font-size: 68px;
    line-height: 80px;
    margin-bottom: 27px;
}
.left-area:hover ~ .right-area{
    transform: scale(1.2) translateX(-90px);
}
#watch-button{
    padding: 10px 24px;
    background-color: #E02C6D;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

#watch-button .fa-arrow-right{
    margin-left: 8px;
}
.right-area{
    transform: scale(1) translateX(0);
    transition: transform 2s ease-in-out .3s;
}
.right-area .player-img{
    width: 500px;
}

/*------------------------------
    players information styles  
------------------------------*/
.players-info{
    margin-top: 70px; 
    width: 1050px;
}
.players{
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 27px;
}
.player{
    width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
}
.player h2{
    color: #18191F;
    line-height: 40px;
    margin: 10px 0;
}
.player p{
    line-height: 26px;
    color: #6C6C6C;
    margin: 10px 0;
}

/*--------------------
    gallery styles
--------------------*/
.gallery-area{
    padding: 100px 0;
    width: 100%;
}
.gallery-area h1{
    padding: 0 30px 30px;
    color: #173562;
}
.gallery{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 3px;
    column-gap: 3px; 
    padding: 5px;
}
.gallery .horizonal-img{
    grid-column: auto / span 2;
}
.gallery img{
    width: 100%;
    height: 100%;  
    border-radius: 3px;
}

/*--------------------
    sponsors styles
--------------------*/
.sponsors-area h1{
    text-align: center;
    color: #173562;
}
.sponsors{
    margin-top: 30px;
}
.sponsors img{
    margin-right: 20px;
}

/*--------------------
    footer styles 
--------------------*/
.footer-area{  
    padding: 100px 0 60px;
    flex-direction: column;
}
.footer-area img{
    width: 400px;
    padding-left:10px;
}
.social-icons{
    margin: 20px 0;
}
.social-icons a{
    margin-right: 14px;
    color: #969BAB;
}
.social-icons a:last-child{
    margin-right: 0;
}
.footer-area p{
    font-size: 18px;
}